{% for message in messages %}
<div class="message {{ message.type }}">
    <span class="time">[{{ message.timestamp[:8] if message.timestamp|length > 8 else message.timestamp }}]</span>
    {% if message.type == 'join' %}
    <span class="content">--> {{ message.content }}</span>
    {% elif message.type == 'leave' %}
    <span class="content"><-- {{ message.content }}</span>
    {% elif message.type == 'system' %}
    <span class="content">*** {{ message.content }}</span>
    {% else %}
    <span class="sender {% if message.sender_name == 'Human' %}human{% elif message.sender_name == 'System' %}system{% endif %}">&lt;{{ message.sender_name }}&gt;</span>
    <span class="content">{{ message.content }}</span>
    {% endif %}
</div>
{% endfor %}
